.navbar {
  // width: 100%;
  // display: flex;
  // justify-content: space-between;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.custom-margin {
  margin-bottom: 20px;
}