// background color for cards
$gunmetal: #A0AAB2; 

$black-as-black: #1A1A1A;

$aussie-green: #00843D;
$aussie-gold: #FFCD00;
// navbar background color
$nav-gray: #a7a7a9;
// navbar text color
$nav-text: #000000; 