<footer class="footer">
  <span class="text-muted muted-color">
    Oz Gamers &copy; 2019
  </span>
  <span class="text-muted muted-color">
    Use of this site is subject to our Website Terms of Use, available <%= link_to 'here', download_tou_path %>
  </span>
  
</footer>