.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: $gunmetal;
  border-radius: 8px;

  .filter-form {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .form-group {
      margin: 0 7px 0 7px;
      color: $nav-text;

      label {
        margin: 4px 0 4px 0;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    .filter-form {
      flex-direction: row;
    }
  }
}