// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show.erb.html
.listing-images {

  img {
    // position: relative;
    // float: left;
    // background: white;
    width:  250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  .uploaded-images {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.game-listing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-listing-card {
  margin: 25px;
  text-decoration: none;
  width: 320px;
  height: 328px;

  .image-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 228px;
    width: 320px;
    background: $gunmetal;

    img {
      float: left;
      width: 100%;
      height: auto;
    }
  }

  .game-info-panel {
    display: flex;
    background: $gunmetal;
    color: white;
    height: 90px;

    p {
      font-size: 14px;
      margin: 0 10px 0 10px;
    }

    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      
      width: 200px;
      
    }
    .right-side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;

      width: 120px;
      // background: orange;
    }
  }
}