.large-carousel-view {
  margin: 20px 0;
}

.carousel-control-next-icon {
  color: black;
}

.game-attached-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

button.stripe-button-el,
button.stripe-button-el>span {
 background: #28a745;
 background-image: none;
}

.listing-information {
  .jumbotron {
    padding: 0rem 2rem;
  }
}