.large-carousel-view {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  margin: 20px 0;
}

.carousel-custom-size {
  // display: flex;
  // justify-content: center;
  // background: dodgerblue;
  // width: 50%;
}

.game-attached-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.stripe-button-el,
button.stripe-button-el>span {
 background: #28a745;
//  line-height: 0;
//  text-align: center;
//  width: 250px;
//  height: 37px;
//  margin: 0;
//  border: none;
//  color: #40F99B;
 background-image: none;
}

.listing-information {
  .jumbotron {
    padding: 0rem 2rem;
  }
}